.buttons{
    background-color: var(--secondaryColor) !important;
    color: var(--primaryColor) !important;
    padding: 10px !important;
    border: 1px solid var(--primaryColor);
    box-shadow: none;
    border-radius: 15px;
    width: 115px;
}

.buttons:hover{
    background-color: var(--primaryColor) !important;
    color: var(--secondaryColor) !important;
    box-shadow: none;
    border: 1px solid var(--secondaryColor);
}

.sendMessageInput{
    background-color: var(--secondaryColor);
    border-radius: 20px;
    padding: 10px;
    border: none;
}
.platformsButton{
    border: none;
    background-color: var(--secondaryColor);
    padding: 10px;
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.favoriteButton{
    border: none;
    background-color: var(--secondaryColor);
    padding: 10px;
    display: flex;
    border-radius: 50%;
}