.navbar{
    background-color:  #202020;
}

.logo{
    height: 50px;
}

.siteName{
    color: var(--secondaryColor);
    text-align: center;
    margin: 0;
}

.buttons{
    background-color: var(--secondaryColor) !important;
    color: var(--primaryColor) !important;
    padding: 10px !important;
    border: 1px solid var(--primaryColor);
    box-shadow: none;
    border-radius: 15px;
    width: 115px;
}

.buttons:hover{
    background-color: var(--primaryColor) !important;
    color: var(--secondaryColor) !important;
    box-shadow: none;
    border: 1px solid var(--secondaryColor);
}
.logoutButton{
    background-color: red !important;
    color: var(--primaryColor);
    box-shadow: none;
    margin-left: 15px;
}
.logoutButton:hover{
    color: var(--primaryColor);
}