.commentContainer {
  background-color: var(--secondaryColor);
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
}

.commentContent {
  word-wrap: break-word;
}

.publishedBy{
    font-size: 0.70rem;
}